<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ol class="navbar-nav">
          <li class="nav-item">
              <a routerLink="user/getuserlist" routerLinkActive="active" class="nav-link">Users List</a>
          <li>
          <li class="nav-item">
              <a routerLink="user/createuser" routerLinkActive="active" class="nav-link">
                      Add User
               </a>
           <li>
            <li class="nav-item">
              <a routerLink="user/updateuser" routerLinkActive="active" class="nav-link">
                      Update User
               </a>
           <li>
            <li class="nav-item">
              <a routerLink="user/getuserbyid" routerLinkActive="active" class="nav-link">
                      UserDetails
               </a>
           <li>
               
   </ol>
  </nav>
  <h1 class="text-center">{{title}}</h1>
  <div class="container">
    <router-outlet></router-outlet>
</div>
  <footer class="footer">
      <div class="container">
          <span></span>
      </div>
  </footer>