<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ol class="navbar-nav">
          <li class="nav-item">
              <a routerLink="user/getuserlist" routerLinkActive="active" class="nav-link">Users List</a>
          <li>
          <li class="nav-item">
              <a routerLink="user/createuser" routerLinkActive="active" class="nav-link">
                      Add User
               </a>
           <li>
            <li class="nav-item">
                <a routerLink="outlet/getoutlet" routerLinkActive="active" class="nav-link">outlet List</a>
            <li>
            <li class="nav-item">
                <a routerLink="outlet/createoutlet" routerLinkActive="active" class="nav-link">
                        Add outlet
                 </a>
             <li>
              <li class="nav-item">
                <a routerLink="product/getproduct" routerLinkActive="active" class="nav-link">
                         prouduct list
                 </a>
             <li>
              <li class="nav-item">
                <a routerLink="product/createproduct" routerLinkActive="active" class="nav-link">
                        add product
                 </a>
             <li>   
                <li class="nav-item">
                    <a routerLink="order/getorder" routerLinkActive="active" class="nav-link">
                             order list
                     </a>
                 <li>
                  <li class="nav-item">
                    <a routerLink="order/createorder" routerLinkActive="active" class="nav-link">
                            add orders
                     </a>
                 <li>   
   </ol>
  </nav>
  <h1 class="text-center">{{title}}</h1>
  <div class="container">
    <router-outlet></router-outlet>
</div>-->

<div>

    <a routerLink="login" routerLinkActive="active" class="nav-link">
      Log In
  </a>
  </div>
    <h1 class="text-center">{{title}}</h1>
    <div class="container">
      <router-outlet></router-outlet>
  </div>