<h1>createproduct </h1>
<div *ngIf="message"
class="alert alert-success" (click)="clear()">✖
  <strong>Success! </strong>
</div>
<div class="example-container mat-elevation-z8">
    <h2>Create User</h2>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" >

        <div class="form-group">
            <label class="col-form-label">productname:</label>
            <input formControlName="pname" id="pname" type="text" class="form-control">
            <small *ngIf="pname.invalid && pname.touched" class="text-danger">productname is Required</small> 
          </div>


          <div class="form-group">
            <label class="col-form-label">pcode:</label>
            <input formControlName="pcode" id="pcode" type="number" class="form-control">
            <div *ngIf="pcode.invalid && pcode.touched" class="text-danger">product  cde was Required</div>
            <div *ngIf="duplicate" class="text-danger">Product code already exists</div>
          </div>

          <div class="form-group">
            <label class="col-form-label">price:</label>
            <input formControlName="price" id="price" type="number" class="form-control">
            <div *ngIf="price.invalid && price.touched" class="text-danger">price is Required</div> 
          </div>

          <div class="form-group">
            <label class="col-form-label">quantity:</label>
            <input formControlName="quantity" id="quantity" type="number" class="form-control">
            <div *ngIf="quantity.invalid && quantity.touched" class="text-danger">quantity is Required</div>
          </div>
     
         <br>
          <div class="button-row">
            <button type="submit" [disabled]="!createForm.valid" class="btn btn-primary">Submit</button>
          </div>
        
    </form>
    </div>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
      <p style="color: white">Please Wait. </p>  
      </ngx-spinner>