<p>getorderbyid works!</p>
<h3> View order Details</h3>
<div>
    <div>
        <label> <b> orderid: </b>
        </label> {{order.id}}
    </div>
    <div>
        <label> <b> ordername: </b>
        </label> {{order.order_name}}
    </div>
    <div>
        <label> <b> order address: </b>
        </label> {{order.customerdeliveryaddress}}
    </div>
    <div>
        <label> <b> order deleivered: </b>
        </label> {{order.order_delivered}}
    </div>
    <div>
        <label> <b> order canceled: </b>
        </label> {{order.order_canceled}}
    </div>
    <div>
        <label> <b> order status: </b>
        </label> {{order.orderstatus}}
    </div>
    <div>
        <label> <b> order quantity: </b>
        </label> {{order.quantity}}
    </div>
    
</div>