<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ol class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/user/getuserlist" routerLinkActive="active" class="nav-link">All users</a>
            </li>
    </ol>
  
<ol class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/shop/orders" routerLinkActive="active" class="nav-link">All orders</a>
    </li>
</ol> 

 <ol class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/shop/shopdetails" routerLinkActive="active" class="nav-link">All products</a>
    </li>
</ol> 

<ol class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/shop/outletname" routerLinkActive="active" class="nav-link">All outlets</a>
    </li>
</ol>

<ol class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a routerLink="/logout" routerLinkActive="active" class="nav-link">Logout</a>
  </li>
  </ol>



  </nav>
