<p>sucess works!</p>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ol class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/user/getuserlist" routerLinkActive="active" class="nav-link">All users</a>
            </li>
    </ol>
    <ol class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/product/productlist" routerLinkActive="active" class="nav-link">All products</a>
        </li>
</ol>
  
<ol class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/product/createproduct" routerLinkActive="active" class="nav-link">Product create</a>
    </li>
</ol>
<ol class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/outlet/outletlist" routerLinkActive="active" class="nav-link">All outlets</a>
    </li>
</ol>

<ol class="navbar-nav">
<li class="nav-item">
    <a routerLink="/outlet/createoutlet" routerLinkActive="active" class="nav-link">outlet create</a>
</li>
</ol>
<ol class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a routerLink="/logout" routerLinkActive="active" class="nav-link">Logout</a>
  </li>
  </ol>



  </nav>