<p>getoutlet works!</p>
<div class="col-md-0 offset-md-0">
    <h2>outlet List</h2>
    <table class="table table-striped">
        <thead>
            
            <th>outlet Id</th>
            <th>shopName</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let outlet  of outlets">
                  <td> {{outlet.id}}</td>
                  <td>{{outlet.outletname}}</td>
                <td>
                    <button (click)= "updateoutlet(outlet.id)" class="btn btn-info"> Update </button>
                </td>
                <td>
                    <button (click)= "deleteoutlet(outlet.id)" class="btn btn-danger" 
                    style="margin-left: 10px;"> Delete
                    </button>
                    </td>
                    <td>
                    <button (click)= "outletDetails(outlet.id)" class="btn btn-info" 
                    style="margin-left: 5px;" > View
                    </button>
                    </td>
                
            </tr>
        </tbody>
    </table>
    </div>