<p>getproductbyid works!</p>
<h3> View product Details</h3>
<div>
    <div>
        <label> <b> productid: </b>
        </label> {{product.id}}
    </div>
    <div>
        <label> <b> productname: </b>
        </label> {{product.pname}}
    </div>
    <div>
        <label> <b> product code: </b>
        </label> {{product.pcode}}
    </div>
    <div>
        <label> <b> product price: </b>
        </label> {{product.price}}
    </div>
    <div>
        <label> <b> product quantity: </b>
        </label> {{product.quantity}}
    </div>
    
</div>