<h2>user List</h2>
<div class="col-md-0 offset-md-0">
    <h2>Users List</h2>
    <table class="table table-striped">
        <thead>
            
            <th>User Id</th>
           
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let user  of users">
                  <td> {{user.id}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.emailid}}</td>
                  <td>{{user.password}}</td>
    
                <td>
                    <button (click)= "updateuser(user.id)" class="btn btn-info"> Update </button>
                </td>
                <td>
                    <button (click)= "deleteuser(user.id)" class="btn btn-danger" 
                    style="margin-left: 10px;"> Delete
                    </button>
                    </td>
                    <td>
                    <button (click)= "userDetails(user.id)" class="btn btn-info" 
                    style="margin-left: 5px;" > View
                    </button>
                    </td>
                
            </tr>
        </tbody>
    </table>
    </div>